<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Block Plus Summit Series III – Dẫn đường cho tương lai của công nghệ tài chính và tiền điện tử</h4>
                <p class="card-category">Created using Roboto Font Family</p>
            </div>
            <div class="card-body">
                <div class="row">

                </div>
                <div class="row">
                    <div class="col-md-8 row" id="typography">
                        <app-article-item class="col-lg-6 col-md-6"></app-article-item>
                        <app-article-item class="col-lg-6 col-md-6"></app-article-item>
                        <app-article-item class="col-lg-6 col-md-6"></app-article-item>
                        <app-article-item class="col-lg-6 col-md-6"></app-article-item>
                        <app-article-item class="col-lg-6 col-md-6"></app-article-item>
                        <app-article-item class="col-lg-6 col-md-6"></app-article-item>
                        <app-article-item class="col-lg-6 col-md-6"></app-article-item>
                        <app-article-item class="col-lg-6 col-md-6"></app-article-item>
                    </div>
                    <div class="col-md-4">
                        <app-newest-article-side></app-newest-article-side>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
