<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">{{catgory.name}}</h4>
                <!-- <p class="card-category">Created using Roboto Font Family</p> -->
            </div>
            <div class="card-body">
                <div class="row">
                    <div  class="col-md-8">
                        <div class="row">
                            <div *ngFor="let article of articlePaging.content | paginate: { itemsPerPage: articlePaging.size, currentPage: articlePaging.number+1, totalItems: articlePaging.totalElements}" class="col-md-6" [routerLink]="['/articles', article.id]">
                                <div class="card card-chart">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-article-30 col-lg-6 col-md-3"><img class="newest-article-img img-fluid" src="{{article.image}}" width="240" height="160"/></div>
                                            <div class="col-article-70 col-lg-6 col-md-9" >
                                                <h4 class="article-title">{{article.title}}</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="stats">
                                            <i class="material-icons">access_time</i> {{article.createdDate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <pagination-controls autoHide = "true" (pageChange)="pageChanged($event)" previousLabel="" nextLabel=""></pagination-controls>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <app-newest-article-side></app-newest-article-side>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
