<!-- Formulaire d'ajout début-->
<br>
<br>
<br>
<div class="container-fluid mt--7" style="background-color: white;">
    <div>
        <div>
            <div>
                <div>
                    <div>
                        <h3 style="color: chocolate;"><b>Ajouter une offre</b></h3>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form (ngSubmit)="saveOffre()">
                    <h4 class="heading-small text-muted mb-4"><b>Informations nécessaires pour l'ajout d'un bien</b>
                    </h4>
                    <div class="pl-lg-4">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="form-group" style="border: 5px; border-color: chocolate;">
                                    <label class="form-control-label" for="input-first-name"
                                        style=" color: black;">Ville</label>
                                    <input type="text" [(ngModel)]="offre.ville" name="ville" id="input-ville"
                                        class="form-control form-control-alternative" placeholder="Ville "
                                        value="Lucky">
                                </div>
                            </div>
                            <div class="col-lg-1">
                                <p> &nbsp;</p>
                            </div>
                            <div class="col-lg-5">
                                <div class="form-group"> <label class="form-control-label" for="input-adresse"
                                        style=" color: black;">Adresse</label> <input type="text"
                                        [(ngModel)]="offre.adresseOffre" name="adresseOffre" id="input-adresse"
                                        class="form-control form-control-alternative" placeholder="adresse"
                                        value="Luck"> </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="form-group"> <label class="form-control-label" for="input-prix"
                                        style=" color: black;">Prix</label> <input type="email"
                                        [(ngModel)]="offre.prixOffre" name="prixOffre" id="input-prix"
                                        class="form-control form-control-alternative" placeholder="prix">
                                </div>
                            </div>
                            <div class="col-lg-1">
                                <p> &nbsp;</p>
                            </div>
                            <div class="col-lg-5">
                                <div class="form-group"> <label class="form-control-label" for="input-surface"
                                        style=" color: black;">Surface</label> <input type="text"
                                        [(ngModel)]="offre.surfaceOffre" name="surfaceOffre" id="input-surface"
                                        class="form-control form-control-alternative"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="form-group"> <label class="form-control-label" for="input-description"
                                    style=" color: black;">Description</label> <input type="text"
                                    [(ngModel)]="offre.description" name="description" id="input-description"
                                    class="form-control form-control-alternative" placeholder="description"
                                    value="description">
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <p> &nbsp;</p>
                        </div>
                        <div class="col-lg-5">
                            <div class="form-group"> <label class="form-control-label" for="input-disponibiliteOffre"
                                    style=" color: black;">Disponibilité</label> <input type="text"
                                    [(ngModel)]="offre.disponibiliteOffre" name="disponibiliteOffre"
                                    id="input-disponibiliteOffre" class="form-control form-control-alternative"
                                    placeholder="TRUE OR FALSE" value="disponibiliteOffre">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="form-group"> <label class="form-control-label" for="input-orientation"
                                    style=" color: black;">Orientation</label> <input type="text"
                                    [(ngModel)]="offre.orientationOffre" name="orientation" id="input-orientation"
                                    class="form-control form-control-alternative" placeholder="orientation"
                                    value="orientationOffre">
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <p> &nbsp;</p>
                        </div>
                        <div class="col-lg-5">
                            <div class="form-group"> <label class="form-control-label" for="input-typeOffre"
                                    style=" color: black;">Type de l'offre</label> <input type="text"
                                    [(ngModel)]="offre.typeOffre" name="typeOffre" id="input-typeOffre"
                                    class="form-control form-control-alternative" placeholder="Location ou Achat"
                                    value="typeOffre">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="form-group"> <label class="form-control-label" for="input-etatOffre"
                                style=" color: black;">Etat de l'offre</label>
                            <p style="font-size: small;"><i>RENOVE , A_RENOVE , NEUF , BON_ETAT , PASSABLE</i></p>
                            <input type="text" [(ngModel)]="offre.etatOffre" name="etatOffre" id="input-etatOffre"
                                class="form-control form-control-alternative" placeholder="NEUF" value="etatOffre">
                        </div>
                    </div>
                    <!-- <div>
                        <p>Image</p>
                    </div>-->
                    <div>
                        <button class="btn btn-danger" style="background-color: chocolate;">Ajouter</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<!--Formulaire d'ajout fin-->