<!-- Formulaire d'ajout début-->
<br>
<br>
<br>
<div class="container-fluid mt--7">
    <div class="col-xl-12 order-xl-1">
        <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h3 class="mb-0">Créer un compte</h3>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form (ngSubmit)="saveUtilisateur()">
                    <h6 class="heading-small text-muted mb-4">Informations des utilisateurs</h6>
                    <div class="pl-lg-4">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-first-name">Nom</label>
                                    <input type="text" [(ngModel)]="utilisateur.nomUtilisateur" name="nomUtilisateur"
                                        id="input-first-name" class="form-control form-control-alternative"
                                        placeholder="First name" value="Lucky">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group"> <label class="form-control-label"
                                        for="input-last-name">Prénom</label> <input type="text"
                                        [(ngModel)]="utilisateur.prenomUtilisateur" name="prenomUtilisateur"
                                        id="input-last-name" class="form-control form-control-alternative"
                                        placeholder="Last name" value="Luck"> </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group"> <label class="form-control-label" for="input-email">Email
                                        address</label> <input type="email" [(ngModel)]="utilisateur.emailUtilisateur"
                                        name="emailUtilisateur" id="input-email"
                                        class="form-control form-control-alternative" placeholder="mail@example.com">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group"> <label class="form-control-label" for="input-date">Date de
                                        naissance</label> <input type="date"
                                        [(ngModel)]="utilisateur.dateNaissanceUtilisateur"
                                        name="dateNaissanceUtilisateur" id="input-date"
                                        class="form-control form-control-alternative"> </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group"> <label class="form-control-label"
                                        for="input-username">Username</label> <input type="text"
                                        [(ngModel)]="utilisateur.username" name="username" id="input-username"
                                        class="form-control form-control-alternative" placeholder="Username"
                                        value="your username"> </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group"> <label class="form-control-label"
                                        for="input-password">Password</label> <input type="text"
                                        [(ngModel)]="utilisateur.password" name="password" id="input-password"
                                        class="form-control form-control-alternative" placeholder="your password">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group"> <label class="form-control-label"
                                        for="input-password">Role</label> <select
                                        class="form-control form-control-alternative" multiple name="roles"
                                        [(ngModel)]="utilisateur.roles">
                                        <option *ngFor="let r of roles" [ngValue]="r">{{r.libelle}}</option>
                                    </select> </div>
                            </div>
                        </div>
                        <div> <button class="btn btn-danger">Ajouter</button> </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--Formulaire d'ajout fin-->
<!--Table d'affichage des données début-->
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0">Users list</h3>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Firstname</th>
                                <th scope="col">Last name</th>
                                <th scope="col">Username</th>
                                <th scope="col">Password</th>
                                <th scope="col">Date of birth</th>
                                <th scope="col">Rule</th>
                                <th style="text-align: center;" scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let u of utilisateur">
                                <td>{{u.nomUtilisateur}}</td>
                                <td>{{u.prenomUtilisateur}}</td>
                                <td>{{u.username}}</td>
                                <td>{{u.password}}</td>
                                <td>{{u.dateNaissance}}</td>
                                <td>
                                    <p style="margin: 0px;" *ngFor="let r of u.roles">{{r.libelle}}</p>
                                </td>
                                <td> <button (click)="deleteUtilisateur(u.idUtilisateur)">Delete</button>
                                    <button (click)="editUtilisateur(u)">Edit</button>
                                </td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Table d'affichage des données fin-->