<div class="main-content">
    <div class="container-fluid">
        <div class="card card-plain">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Liste de tous les utilisateurs</h4>
                <p class="card-category">Seuls les administrateurs peuvent y avoir accès. Les modifications sont
                    enregistrées directement dans la DB
                </p>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card-body">
                        <p>gentille liste de tous les utilisateurs</p>
                        <p>Cliquer sur modifier/sauvegarder</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>