<div class="card">
  <div class="card-header card-header-danger">
    <h4 class="card-title ">TIM MỚI NHẤT</h4>
    <p class="card-category"> Here is a subtitle for this table</p>
  </div>
  <div class="card-body row">
    <div *ngFor="let article of articles" class="col-lg-4 article-wrawper" [routerLink]="['/articles', article.id]">
      <div class="card card-chart">
        <div class="card-body">
          <div class="row">
            <div class="col-article-30 col-lg-6 col-md-3"><img class="newest-article-img img-fluid" src="{{article.image}}" width="240" height="160"/></div>
            <div class="col-article-70 col-lg-6 col-md-9" >
              <h4 class="article-title">{{article.title}}</h4>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">access_time</i> {{article.createdDate}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
