<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://dev.azure.com/mssolutions-group/">
                        Khaled & Syrine
                    </a>
                </li>
                <li>
                    <a href="https://creative-tim.com/about-us">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="http://blog.creative-tim.com">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="https://www.creative-tim.com/license">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy/MM/dd'}}, made with love by
            <a href="https://dev.azure.com/mssolutions-group/" target="_blank">Khaled & Syrine</a> for a better Trolling.
        </div>
    </div>
</footer>
