<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="/">
                        Vietnam-Crypto
                    </a>
                </li>
                <li>
                    <a href="/">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="/">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="/">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, Thanks for
            <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
        </div>
    </div>
</footer>
