<div class="card">
    <div class="card-header card-header-danger">
        <h4 class="card-title ">TIN TỨC NỔI BẬT</h4>
        <!-- <p class="card-category"> Here is a subtitle for this table</p> -->
    </div>
    <div class="card-body">
        <div class="table-responsive table-hover">
            <table class="table">
                <thead class=" text-primary">
                <th class="hide-when-small">
                    ID
                </th>
                <th>
                    Ảnh 
                </th>
                <th>
                    Tiêu đề 
                </th>
                <th class="hide-when-small">
                    Ngày
                </th>
                <th class="hide-when-small">
                    Loại
                </th>
                </thead>
                <tbody>
                <tr *ngFor="let article of articles; let i = index" [routerLink]="['/articles', article.id]">
                    <td class="hide-when-small">
                        {{i+1}}
                    </td>
                    <td>
                        <img src="{{article.image}}" width="20"
                             height="20"/>
                    </td>
                    <td>
                        {{article.title}}
                        <div class="stats align-items-center">
                            <i class="material-icons">access_time</i> {{article.createdDate}}
                        </div>
                    </td>
                    <td class="hide-when-small">
                        {{article.createdDate}}
                    </td>
                    <td class="hide-when-small">
                        TIN TỨC NỔI BẬT
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
