<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">{{article.title}}</h4>
                <p class="card-category">Created using Roboto Font Family</p>
            </div>
            <div class="card-body row">
                <div class="col-md-8" id="typography">
                    <div [innerHTML]="article.content">
                    </div>
                </div>
                <div class="col-md-4">
                    <app-hot-news-side></app-hot-news-side>
                    <app-newest-article-side></app-newest-article-side>
                </div>
            </div>
        </div>
    </div>
</div>
