<div class="wrapper">
    <div class="sidebar" data-color="purple" data-image="">
        <sidebar-cmp></sidebar-cmp>
        <div class="sidebar-background" style="background-image: url(../assets/img/sidebar-4.jpg)"></div>
    </div>
    <div class="main-panel">
        <navbar-cmp></navbar-cmp>
        <dashboard-cmp></dashboard-cmp>
        <div *ngIf="isMaps('/maps')">
            <footer-cmp></footer-cmp>
        </div>
        <div class="fixed-plugin">
            <div class="dropdown show-dropdown">
                <a href="#" data-toggle="dropdown">
                <i class="fa fa-cog fa-2x"> </i>
                </a>
                <ul class="dropdown-menu">
                    <li class="header-title"> Sidebar Filters</li>
                    <li class="adjustments-line">
                        <a href="javascript:void(0)" class="switch-trigger">
                            <div class="text-center">
                                <span class="badge filter badge-purple active" data-color="purple"></span>
                                <span class="badge filter badge-blue" data-color="blue"></span>
                                <span class="badge filter badge-green" data-color="green"></span>
                                <span class="badge filter badge-orange" data-color="orange"></span>
                                <span class="badge filter badge-red" data-color="red"></span>
                            </div>
                            <div class="clearfix"></div>
                        </a>
                    </li>
                    <li class="header-title">Images</li>
                    <li class="active">
                        <a class="img-holder switch-trigger" href="javascript:void(0)">
                            <img src="../assets/img/sidebar-1.jpg">
                        </a>
                    </li>
                    <li>
                        <a class="img-holder switch-trigger" href="javascript:void(0)">
                            <img src="../assets/img/sidebar-2.jpg">
                        </a>
                    </li>
                    <li>
                        <a class="img-holder switch-trigger" href="javascript:void(0)">
                            <img src="../assets/img/sidebar-3.jpg">
                        </a>
                    </li>
                    <li>
                        <a class="img-holder switch-trigger" href="javascript:void(0)">
                            <img src="../assets/img/sidebar-4.jpg">
                        </a>
                    </li>

                    <li class="button-container">
                        <div>
                            <a href="https://github.com/creativetimofficial/material-dashboard-angular" target="_blank" class="btn btn-danger btn-block">
                                <div class="img-container">
                                    <img src="/assets/img/angular2-logo-white.png"/>
                                </div>
                                Get Angular Version
                            </a>
                        </div>
                    </li>

                    <li class="button-container">
                        <div class="">
                            <a href="https://github.com/creativetimofficial/material-dashboard" target="_blank" class="btn btn-primary btn-block">
                                <i class="fa fa-html5" aria-hidden="true"></i>
                                Get Html Version
                            </a>
                        </div>
                    </li>

                    <li class="header-title">Thank you for 52 shares!</li>

                    <li class="button-container">
                        <button id="twitter" class="btn btn-social btn-twitter btn-round"><i class="fa fa-twitter"></i> &middot; 12</button>
                        <button id="facebook" class="btn btn-social btn-facebook btn-round"><i class="fa fa-facebook-square"> &middot; 40</i></button>
                    </li>

                </ul>
            </div>
        </div>
    </div>


</div>
