<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header card-header-danger">
        <h3 class="card-title">Tạo bài viết</h3>
        <p class="card-category">
            Tạo bài viết mới         
        </p>
      </div>
      <div class="card-body">
        <form>
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                      <input autocomplete="off" matInput placeholder="Tiêu đề bài viết" type="text">
                    </mat-form-field>
                  </div>
                  <div  class="col-md-12">
                    <!-- <ckeditor [config]="editorConfig" [editor]="editor"  (ready)="onReady($event)"></ckeditor> -->
                    <div id="editor"></div>
                  </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
