<div class="card card-chart">
  <div class="card-header card-header-warning">
    <div *ngIf="chart" class="chart-container">
      <canvas id="canvas-eth">{{ chart }}</canvas>
    </div>
  </div>
  <div class="card-body">
    <h4 class="card-title">GIÁ ETHERUM (ETH): {{currentPrice}} USD</h4>
    <p *ngIf="downup >= 0.0" class="card-category">
      Biến động 24h gần nhất: <span class="text-success"><i class="fa fa-long-arrow-up"></i> {{downup}}% </span> </p>
    <p *ngIf="downup < 0.0" class="card-category">
      Biến động 24h gần nhất: <span class="text-danger"><i class="fa fa-long-arrow-down"></i> {{downup}}% </span> </p>
  </div>
  <div class="card-footer">
    <div class="stats">
      <i class="material-icons">access_time</i> updated 4 minutes ago
    </div>
  </div>
</div>
