/* You can add global styles to this file, and also import other style files */
.btn-primary{
    color: #fff;
    background-color: #1266f1;
}
.btn-secondary{
    color: #fff;
    background-color: #b23cfd;
}