<div class="container mt-5">
    <div class="content">
        <mat-form-field class="filter">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>

        <table mat-table matSort [dataSource]="dataSource" class="table">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                <td mat-cell *matCellDef="let rowObj"> {{rowObj.id}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let rowObj"> {{rowObj.name}} </td>
            </ng-container>

            <ng-container matColumnDef="fullName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Full name </th>
                <td mat-cell *matCellDef="let rowObj"> {{rowObj.fullName}} </td>
            </ng-container>

            <ng-container matColumnDef="placeOfBirth">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Place Of Birth </th>
                <td mat-cell *matCellDef="let rowObj"> {{rowObj.placeOfBirth}} </td>
            </ng-container>

            <ng-container matColumnDef="publisher">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Publisher </th>
                <td mat-cell *matCellDef="let rowObj"> {{rowObj.publisher}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator #paginator [pageIndex]="0" [pageSize]="5" [pageSizeOptions]="[2, 3, 5]">
        </mat-paginator>

    </div>
</div>