<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="card">
        <div class="card-header card-header-danger">
          <h4 class="card-title">Mon profil</h4>
          <p class="card-category">Vous pouvez modifier certaines de vos informations suite à des changements au cours
            de votre vie (changement de téléphone, d'adresse mail, etc.)</p>
        </div>
        <div class="card-chart">
          <p>Nom : {{user.nomUtilisateur}}
            <input #myTxt type="text" required minlength="1" [(ngModel)]="user.nomUtilisateur">
            <button type="submit" (click)="updateProfil(myTxt.value)">Modifier</button>
          </p>
          <p>Prénom : {{user.prenomUtilisateur}}</p>
          <p>Date de Naissance : {{user.nomUtilisateur}}</p>
          <p>Adresse E-mail : {{user.emailUtilisateur}}</p>
          <p>Numéro de telephone : {{user.numTelUtilisateur}}</p>

        </div>
      </div>
    </div>
  </div>
</div>